.skeleton {
  animation: skeleton-loading 2s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 70%);
  }
  100% {
    background-color: hsl(0, 0%, 93%);
  }
}

.skeleton-category-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.skeleton-category-img {
  display: block;
  width: 100%;
  height: 8rem;
  object-fit: cover;
  background-color: #eeeeee;
}

.skeleton-category-content {
  padding: 1rem;
}

.skeleton-category-header {
  width: 60%;
  height: 1rem;
  background-color: #eeeeee;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.skeleton-category-text {
  width: 100%;
  height: 0.5rem;
  background-color: #eeeeee;
  border-radius: 0.3rem;
  margin-bottom: 0.3rem;
}
.skeleton-category-content ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  list-style-type: disc;
}
.skeleton-category-content ul li {
  width: 75%;
  height: 0.5rem;
  background-color: #eeeeee;
  border-radius: 0.3rem;
  margin-bottom: 0.3rem;
}
.skeleton-category-btn {
  display: block;
  width: 100%;
  padding: 0.3rem;
  font-size: 1rem;
  color: #333;
  background-color: #eeeeee;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}

.skeleton-category-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

@media only screen and (max-width: 767px) {
  .skeleton-category-item {
    margin: 2rem 0rem;
    // max-width: 100%;
  }
}
